body {
	margin: 0;
	padding: 0;
	font-family: 'Heebo', sans-serif;
}
h1, h2 {
	text-align: right;
	color: #2d3c49;
}
h3 {
	text-align: left;
	color: #7d97ad;
	margin-left: 30px;
	padding-bottom: 5px;
}
article h3 {
	text-align: center;
	color: #2d3c49;
}
.container-fluid {
	margin: auto;
	width: 95%;
	margin-top: 60px;
	margin-bottom: 60px;
}
hr {
	background-color: #7d97ad;
	height: 3px;
	padding: 0;
	margin: auto;
	width: 95%;
}
section {
	padding: 15px;
}