/*Custom CSS--Overrideds Bootstrap*/
* {
font-family: 'Heebo', sans-serif;
}

body {
padding: 15px;
}

h1,
h2 {
color: #2d3c49;
font-weight: 300;
text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  color: #7d97ad;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 5px;
}

h4 {
  color: #2d3c49;
}

hr {
color: #7d97ad;
}

#logo {
  margin-top: 20px;
}

p {
  text-align: center;
}

/*Style for screens larger than cell phone*/
@media (min-width: 544px) {
  h1,
  h2 {
      text-align: right;
  }

  #logo{
      display: inline;
  }
}